.first-header {
    background-color: #1F2937;
    display: flex;
    font-size: 24px;
    
    justify-content: space-around;
    align-items: center;

}
.header-logo {
    
    color: #F9FAF8;
    font-weight:24px bold;
    font-weight: 900;
    
}
button {
   background: transparent;
    font-size: 14px;
    color: white;
    border: none;
    
}

.nav2  {
    display:flex ;
    justify-content: left;
    align-items:center;   
    gap:10px
}

 .second-header  {
 background-color: #1F2937;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 height: 50%;
}

.sub-header-button {
    background-color:#3882F6;    
    align-items: center;
}

.para1 h2 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8
}

.para1  p {

    font-size: 18px;
    color: #E5E7EB;
    
}

.second-header   .picture {

    background-color: grey;
    padding: 20px;
    margin: 30px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
   align-items: center;
}
.random-header {
    text-align: center;
}

.random-box  {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 12px;
   gap: 10px;

}

.random-box1   {
   display: block;
   align-items: center;
}

.box  {

    width: 100px;
    height: 100px;
    border: 3px solid  #3882F6;
    border-radius: 10px;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 20px;
    text-align: center;
    
    }

.quote {
   font-style: italic;
    font-weight:lighter
}

.author  {
    margin-left: 300px;
    font-weight: 900;
     
}

 .footer-container {
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
   
    
 }

  .footer   {
    background-color: #3882F6;
    color:#E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 0;

       
}

.footer-para1   {
    font-weight: bold;
    padding-right: 325px;
    
    
  
}

p {
    margin-bottom: 0;
}

 .footer-button  {
    color:#E5E7EB;
    font-weight: bold;
    border: 2px solid white ;
    border-radius: 5px;
    font-size: 14px;
    
    
}

.footer-para2  {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}